*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url('./assets/Fundo.jpg')no-repeat;
    background-position: top center ;
    background-size: 100% auto;
    background-color: #121214;
    font-family: 'Inter', sans-serif;
}
ul{
    list-style: none;
}

main{
    max-width: 580px;
    width: 90%;
    margin: auto;
}

main * {
    background: #2A2634;
}